body, html {
    height: 100%;
}
.parallax {
    background-image: url(фоточки/bg1.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}
p{
  font-size: 18px;
  font-weight: bold;
}
#flex-container {
  display: flex;
  background:#4169E1;
  text-align: center;
}
.box{
  height:150px;
  font-size:28px;
}
